#Visual Studio files
*.o
*.d
*.so
*.class

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle
**/build/**
 
# Ignore Gradle GUI config 
gradle-app.setting 

## Directory-based project format: 
.idea/ 

 
# Mongo Explorer plugin: 
# .idea/mongoSettings.xml 

 
## File-based project format: 
*.ipr 
*.iws 

 
## Plugin-specific files: 
 
# IntelliJ 
out/ 
 
# mpeltonen/sbt-idea plugin 
.idea_modules/ 

 
# JIRA plugin 
atlassian-ide-plugin.xml 
 
 
# Crashlytics plugin (for Android Studio and IntelliJ) 
com_crashlytics_export_strings.xml 

# Mac
.DS_Store

# Click-Once directory
publish/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

buildinfo.properties

_site

